MainFrame/Service Descriptors/ConcreteProfessional_gen1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/AbstractProfessional/" xmlns:tns0="http://www.EmployeePOC.org/Insert_Employee_Data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AbstractProfessional" targetNamespace="http://www.tibco.com/AbstractProfessional/" tibex:src="file:/C:/Bw6_Workspace/EmployeePOCnew/ConcreteProfessional_gen1.wsdl">
    
  <wsdl:types>
        
    <xsd:schema xmlns:tns="http://www.EmployeePOC.org/Insert_Employee_Data" elementFormDefault="qualified" targetNamespace="http://www.EmployeePOC.org/Insert_Employee_Data">
            
      <xsd:element name="Insert_Personal_Data" type="tns:InsertPersonalDataType"/>
            
      <xsd:complexType name="InsertPersonalDataType">
                
        <xsd:sequence>
                    
          <xsd:element name="Name" type="xsd:string"/>
                    
          <xsd:element name="Gender" type="xsd:string"/>
                    
          <xsd:element name="PhoneNumber" type="xsd:long"/>
                    
          <xsd:element name="EmailID" type="xsd:string"/>
                    
          <xsd:element name="Correlation_ID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="Resposnse_Msg" type="tns:Response_Data_Type"/>
            
      <xsd:complexType name="Response_Data_Type">
                
        <xsd:sequence>
                    
          <xsd:element name="Response" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="Correlation_ID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="Insert_Address_Data" type="tns:InsertEmpAddresstype"/>
            
      <xsd:complexType name="InsertEmpAddresstype">
                
        <xsd:sequence>
                    
          <xsd:element name="HouseNumber" type="xsd:string"/>
                    
          <xsd:element name="Street" type="xsd:string"/>
                    
          <xsd:element name="City" type="xsd:string"/>
                    
          <xsd:element name="State" type="xsd:string"/>
                    
          <xsd:element name="PinCode" type="xsd:string"/>
                    
          <xsd:element name="CorrelationID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="Insert_EmpSalary_Data" type="tns:InsertEmpSalaryType"/>
            
      <xsd:complexType name="InsertEmpSalaryType">
                
        <xsd:sequence>
                    
          <xsd:element name="Salary" type="xsd:long"/>
                    
          <xsd:element name="Correlation_ID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="Insert_Organisation_Data" type="tns:InsertOrgDetailsType"/>
            
      <xsd:complexType name="InsertOrgDetailsType">
                
        <xsd:sequence>
                    
          <xsd:element name="OrganisationName" type="xsd:string"/>
                    
          <xsd:element name="Branch" type="xsd:string"/>
                    
          <xsd:element name="CorrelationID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="Insert_Insurance_Data" type="tns:InsertInsuranceDetailsType"/>
            
      <xsd:complexType name="InsertInsuranceDetailsType">
                
        <xsd:sequence>
                    
          <xsd:element name="PolicyID" type="xsd:string"/>
                    
          <xsd:element name="CoverageDate" type="xsd:string"/>
                    
          <xsd:element name="CorrelationID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="Insert_Professional_Data" type="tns:EmployeeProfDataType"/>
            
      <xsd:complexType name="EmployeeProfDataType">
                
        <xsd:sequence>
                    
          <xsd:element name="Designation" type="xsd:string"/>
                    
          <xsd:element name="Experience" type="xsd:string"/>
                    
          <xsd:element name="CorrelationID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
          
    </xsd:schema>
      
  </wsdl:types>
    
  <wsdl:message name="NewOperationRequest">
        
    <wsdl:part element="tns0:Insert_Professional_Data" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="NewOperationResponse">
        
    <wsdl:part element="tns0:Resposnse_Msg" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="AbstractProfessional">
        
    <wsdl:operation name="NewOperation">
            
      <wsdl:input message="tns:NewOperationRequest"/>
            
      <wsdl:output message="tns:NewOperationResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="SOAPServiceBinding" type="tns:AbstractProfessional">
        
    <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        
    <jms:binding messageFormat="bytes"/>
        
    <wsdl:operation name="NewOperation">
            
      <soap:operation soapAction="NewOperation" style="document"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="AbstractProfessional">
        
    <wsdl:port binding="tns:SOAPServiceBinding" name="AbstractProfessionalSOAP">
            
      <soap:address location=""/>
            
      <jms:connectionFactory/>
            
      <jms:targetAddress destination="queue">SampleQueue</jms:targetAddress>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
