MainSystem/Service Descriptors/Concrete_gen1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/Abstract/" xmlns:tns0="http://www.EniqueSolutions.org/InsertEmployeeData" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Abstract" targetNamespace="http://www.tibco.com/Abstract/" tibex:src="file:/C:/Bw6_Workspace/MiniProSaranya/Concrete_gen1.wsdl">
    
  <wsdl:types>
        
    <xsd:schema xmlns:tns="http://www.EniqueSolutions.org/InsertEmployeeData" elementFormDefault="qualified" targetNamespace="http://www.EniqueSolutions.org/InsertEmployeeData">
            
      <xsd:element name="EmployeeProfDataReq" type="tns:EmployeeProfDataType"/>
            
      <xsd:complexType name="EmployeeProfDataType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID" type="xsd:string"/>
                    
          <xsd:element name="EmployeeName" type="xsd:string"/>
                    
          <xsd:element name="Designation" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="EmployeePersoDataReq" type="tns:EmployeePersoDataType"/>
            
      <xsd:complexType name="EmployeePersoDataType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID" type="xsd:string"/>
                    
          <xsd:element name="Name" type="xsd:string"/>
                    
          <xsd:element name="Gender" type="xsd:string"/>
                    
          <xsd:element name="MaritalStatus" type="xsd:string"/>
                    
          <xsd:element name="PhoneNumber" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="InsertDataResp" type="tns:InsertDataRespType"/>
            
      <xsd:complexType name="InsertDataRespType">
                
        <xsd:sequence>
                    
          <xsd:element name="Status" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="EmployeeAddresReq" type="tns:EmployeeAddresReqType"/>
            
      <xsd:complexType name="EmployeeAddresReqType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID" type="xsd:string"/>
                    
          <xsd:element name="HouseNum" type="xsd:string"/>
                    
          <xsd:element name="Street" type="xsd:string"/>
                    
          <xsd:element name="City" type="xsd:string"/>
                    
          <xsd:element name="State" type="xsd:string"/>
                    
          <xsd:element name="PinCode" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
          
    </xsd:schema>
      
  </wsdl:types>
    
  <wsdl:message name="SOAPcallRequest">
        
    <wsdl:part element="tns0:EmployeeProfDataReq" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="SOAPcallResponse">
        
    <wsdl:part element="tns0:InsertDataResp" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="Abstract">
        
    <wsdl:operation name="SOAPcall">
            
      <wsdl:input message="tns:SOAPcallRequest"/>
            
      <wsdl:output message="tns:SOAPcallResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="SOAPServiceBinding" type="tns:Abstract">
        
    <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        
    <jms:binding messageFormat="bytes"/>
        
    <wsdl:operation name="SOAPcall">
            
      <soap:operation soapAction="SOAPcall" style="rpc"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="Abstract">
        
    <wsdl:port binding="tns:SOAPServiceBinding" name="AbstractSOAP">
            
      <soap:address location=""/>
            
      <jms:connectionFactory/>
            
      <jms:targetAddress destination="queue"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
