MainSystem/Service Descriptors/InsertEmpProData_Concrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/InsertEmpProData/" xmlns:tns0="http://www.example.org/Insert_Employee_Data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InsertEmpProData" targetNamespace="http://www.tibco.com/InsertEmpProData/" tibex:src="file:/C:/Bw6_Workspace/MiniProSaranya/InsertEmpProData_Concrete.wsdl">
    
  <wsdl:types>
        
    <xsd:schema xmlns:tns="http://www.example.org/Insert_Employee_Data" elementFormDefault="qualified" targetNamespace="http://www.example.org/Insert_Employee_Data">
            
      <xsd:element name="InsertPersonalData" type="tns:InsertPersonalDataType"/>
            
      <xsd:complexType name="InsertPersonalDataType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpId" type="xsd:string"/>
                    
          <xsd:element name="Name" type="xsd:string"/>
                    
          <xsd:element name="Gender" type="xsd:string"/>
                    
          <xsd:element name="MaritalStatus" type="xsd:string"/>
                    
          <xsd:element name="PhoneNumber" type="xsd:int"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="InsertDataResposnse" type="tns:InsertDataResponseType"/>
            
      <xsd:complexType name="InsertDataResponseType">
                
        <xsd:sequence>
                    
          <xsd:element name="Response" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="InsertEmpAddress" type="tns:InsertEmpAddresstype"/>
            
      <xsd:complexType name="InsertEmpAddresstype">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID" type="xsd:string"/>
                    
          <xsd:element name="EmpName" type="xsd:string"/>
                    
          <xsd:element name="HouseNumber" type="xsd:string"/>
                    
          <xsd:element name="Street" type="xsd:string"/>
                    
          <xsd:element name="City" type="xsd:string"/>
                    
          <xsd:element name="State" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="InsertDataRes" type="tns:InsertDataResType"/>
            
      <xsd:complexType name="InsertDataResType"/>
            
      <xsd:element name="InsertEmpSalary" type="tns:InsertEmpSalaryType"/>
            
      <xsd:complexType name="InsertEmpSalaryType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID" type="xsd:string"/>
                    
          <xsd:element name="Salary">
                        
            <xsd:simpleType>
                            
              <xsd:restriction base="xsd:int">
                                
                <xsd:minExclusive value="1000"/>
                                
                <xsd:maxExclusive value="10000000"/>
                              
              </xsd:restriction>
                          
            </xsd:simpleType>
                      
          </xsd:element>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="InsertOrgDetails" type="tns:InsertOrgDetailsType"/>
            
      <xsd:complexType name="InsertOrgDetailsType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID">
                        
            <xsd:simpleType>
                            
              <xsd:restriction base="xsd:int">
                                
                <xsd:minExclusive value="1000"/>
                                
                <xsd:maxExclusive value="10000"/>
                              
              </xsd:restriction>
                          
            </xsd:simpleType>
                      
          </xsd:element>
                    
          <xsd:element name="OrganisationName" type="xsd:string"/>
                    
          <xsd:element name="Branch" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="InsertInsuranceDetails" type="tns:InsertInsuranceDetailsType"/>
            
      <xsd:complexType name="InsertInsuranceDetailsType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID" type="xsd:int"/>
                    
          <xsd:element name="PolicyID" type="xsd:int"/>
                    
          <xsd:element name="CoverageTill" type="xsd:date"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:complexType name="InsertInsuranceDetailsArray">
                
        <xsd:sequence>
                    
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="InsertInsuranceDetails" type="tns:InsertInsuranceDetailsType"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="InsertInsuranceDetailsArray" type="tns:InsertInsuranceDetailsArray"/>
            
      <xsd:element name="EmployeeProfDataReq" type="tns:EmployeeProfDataType"/>
            
      <xsd:complexType name="EmployeeProfDataType">
                
        <xsd:sequence>
                    
          <xsd:element name="EmpID" type="xsd:string"/>
                    
          <xsd:element name="EmployeeName" type="xsd:string"/>
                    
          <xsd:element name="Designation" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
          
    </xsd:schema>
      
  </wsdl:types>
    
  <wsdl:message name="NewOperationRequest">
        
    <wsdl:part element="tns0:EmployeeProfDataReq" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="NewOperationResponse">
        
    <wsdl:part element="tns0:InsertDataResposnse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="InsertEmpProData">
        
    <wsdl:operation name="NewOperation">
            
      <wsdl:input message="tns:NewOperationRequest"/>
            
      <wsdl:output message="tns:NewOperationResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="SOAPServiceBinding" type="tns:InsertEmpProData">
        
    <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        
    <jms:binding messageFormat="bytes"/>
        
    <wsdl:operation name="NewOperation">
            
      <soap:operation soapAction="NewOperation" style="document"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="InsertEmpProData">
        
    <wsdl:port binding="tns:SOAPServiceBinding" name="InsertEmpProDataSOAP">
            
      <soap:address location=""/>
            
      <jms:connectionFactory/>
            
      <jms:targetAddress destination="queue">SampleQueue</jms:targetAddress>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
